<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/tela.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Tela Inicial</title>
</head>
<body>
    <div class="container">
        {% include "components/base.html" %}
    </div>
    <div class="W">
    <img src="static/WhatsApp_Image_2025-02-04_at_18.48.27-removebg-preview.png" alt="" width="200">
    <h1>CONHEÇA E CONFIRA NOSSOS <br> CLUBES E PROJETOS</h1>
    <p>OS CLUBES MAIS DIVERSIFICADOS DO CAMPUS SANTA RITA</p>
    </div>
    <div class="container2">
        <div data-text="" class="glass">
            <a href="http://127.0.0.1:5000/teladeinformacoesclube/Alquimia" class="item">
                <img src="static/uploads/clubes/quimica.jpg" alt="Imagem">
                <p>Alquimia</p>
            </a>
        </div>
        <div data-text="" class="glass">
            <a href="http://127.0.0.1:5000/teladeinformacoesprojeto/Consultoria%20em%20Neg%C3%B3cios%20para%20Pequenos%20Empreendedores" class="item">
                <img src="static/uploads/projetos/empreender.png" alt="imagem">
                <p>Consultoria em Negocios para Pequenas Empreendedores</p>
            </a>
        </div>
        <div data-text="" class="glass">
            <a href="http://127.0.0.1:5000/teladeinformacoesensino/Aulas%20de%20Codifica%C3%A7%C3%A3o" class="item">
                <img src="static/uploads/ensino/programacao.png" alt="imagem">
                <p>Aulas de Codificação</p>
            </a>
        </div>
    </div>
    <div class="U">
        <img src="static/undraw_add-information_06qr-removebg-preview.png" alt="" width="450">
        <h1>O QUE É WEBPEEC?</h1>
    </div>
    <div class="card">
    <img src="static/WhatsApp_Image_2025-02-04_at_18.48.27-removebg-preview.png" alt="">
        <div class="card__content">
          <p class="card__title">WebPEEC
          </p><p class="card__description">O WebPEEC é uma plataforma online dedicada a reunir e organizar informações sobre clubes, projetos de extensão e projetos de ensino, facilitando o acesso e a divulgação dessas iniciativas.
            <br>Com um acervo constantemente atualizado, o site serve como um ponto de referência para estudantes, educadores e interessados em conhecer e participar de diferentes atividades acadêmicas e extracurriculares. <br>
            Além de proporcionar uma visão ampla sobre diversas iniciativas educacionais, o WebPEEC também incentiva a colaboração e o compartilhamento de experiências, fortalecendo a comunidade acadêmica e promovendo o engajamento em projetos que impactam a formação dos alunos.
          </p>
        </div>
      </div>
</body>
</html>
